
body {
    background-color: #00796B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.kc-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.kc-container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.kc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#kc-header-logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.kc-logo {
    width: 50px;
    height: auto;
}

.kc-title {
    font-size: 32px;
    font-weight: bold;
    color: #2C3E50;
    margin: 0;
    text-align: center;
}

.kc-form-title {
    font-size: 20px;
    font-weight: bold;
    color: #2C3E50;
    margin-bottom: 20px;
    text-align: center;
}

.kc-form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.kc-label {
    font-size: 14px;
    font-weight: bold;
    color: #2C3E50;
    display: block;
    margin-bottom: 5px;
}

.kc-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    box-sizing: border-box;
}

.kc-button {
    width: 100%;
    padding: 12px;
    background-color: #62c2a2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.kc-button:hover {
    background-color: #56af8c;
}

.kc-reset-password {
    display: block;
    margin: 15px auto;
    font-size: 14px;
    color: #00796B;
    text-decoration: none;
    text-align: center;
}

.kc-reset-password:hover {
    text-decoration: underline;
}

.kc-registration-link {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.kc-registration-text {
    color: #00796B;
}
